/*
Fonts:
Press Start 2P
Quicksand

Colors:
Background (grey): #33363a
Content (red): #d60909
White: #fff
Black: #000;
*/

:root {
  --primary_color: #343a40;
  --secondary_color: #d60909;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary_color);
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
}

/* Header content */
.title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 10px 0;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 36px;
}

h2 {
  text-transform: capitalize;
}

/* Main body content */
.main {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  box-shadow: 10px 10px var(--secondary_color);
  font-size: 20px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#message {
  font-style: italic;
}

#message.remove {
  display: none;
}

p {
  margin: 15px;
}

hr {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-button, .main-button:visited {
  background: var(--white);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  width: 100%;
  padding: 8px 0;
  border: none;
}

.main-button:focus, .main-button:hover, .main-button:active {
  background: var(--secondary_color);
  color: var(--white);
  cursor: pointer;
  outline: none;
}

.remove {
  display: none;
}

/* Media queries */

@media all and (max-width: 600px) {
  .main {
    width: 100%;
  }
}

@media all and (max-width: 400px){
  h1 {
    font-size: 28px;
  }
  .main {
    box-shadow: none;
  }
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
