/*
Fonts:
Press Start 2P
Quicksand

Colors:
Background (grey): #33363a
Content (red): #d60909
White: #fff
*/

:root {
  --primary_color: #33363a;
  --secondary_color: #d60909;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary_color);
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 10px;
}

.logo {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
}

.main {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: var(--secondary_color);
  border: 4px dashed #000;
  box-shadow: 10px 10px #fff;
}

/* Media queries */

@media all and (max-width: 500px) {


}
